
.images-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100%;
  margin-top: 200px;
}
.thanks-images {
  border-radius: 150px;

  width: 300px;
  height: 300px;
  margin-right: 100px;
}
