.HeroImageContainer {
  border-radius: 300px;
  overflow: hidden;
  align-self: flex-end;
}
.HeroImageContainer img {
  /* display: flex; */
  height: 300px;
  width: 300px;
  border-radius: 500%;
  /* filter: drop-shadow(20px 20px 50px #a1a1af); */
  margin: 0 0 0 0;
}
