button {
  font-family: "poppins";
  border: 50px;
  padding: 10px 20px;
  font-size: 25px;
  border-radius: 20px;
  color: white;
  text-transform: uppercase;
  text-align: center;
}
button-submit {
  border: 0px;
  /* padding: 10px 20px; */
  font-size: 13px;
  background-color: rgba(250, 200, 240, 1);
  width: 80px;
  border-radius: 20px;
  color: white;
  text-transform: uppercase;
  text-align: center;
}
button-submit:hover {
  background-color: purple;
}
button:hover {
  background-color: rgba(250, 200, 240, 1);
}

button:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6);
}
